.button__default {
    color: var(--grey-text-button);
    background-color: var(--grey-background-button);
    width: 106px;
    height: 40px;
    top: 20px;
    left: 20px;
    padding: 0px, 20px, 0px, 20px;
    border-radius: 8px;
    gap: 10px;

    &:hover {
    color: var(--grey-text-button);
    background-color: var(--color-primary);

    }

}

.button__medium {
    color: var(--grey-text-button);
    background-color: var(--grey-background-button);
    width: 106px;
    height: 40px;
    top: 20px;
    left: 20px;
    padding: 0px, 20px, 0px, 20px;
    border-radius: 8px;
    gap: 10px;

    &:hover {
        color: var(--grey-text-button);
        background-color: var(--color-primary);
    
    }
    
}

.button__removeAll {
    color: var(--grey-text-button);
    background-color: var(--grey-background-button);
    width: 368px;
    height: 60px;
    border-radius: 8px;

    &:hover {
    color: var(--grey-text-button);
    background-color: var(--color-primary);
    width: 368px;
    height: 60px;

    }
}